@media screen and (-webkit-min-device-pixel-ratio:0) {
    .contents{    
        padding: 20px 20px;
    }
    #cardbodies {
        width:370px;
        height: 100%;
        border: 0.5px solid;   
        margin: 10px 10px 10px 10px;
        border-radius : 30%;
        background-color: white;
    }

    .imges {
        width: 330px;
        height: 250px;
        border-radius: 70%;
    }

    .recipeCards{
        margin: 20px auto;
        text-align:center;   
        border:0;
        padding:0;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
    }


    #cardbodies :hover .imges{
         animation: shadowThrobs 0.9s infinite;
        animation-direction: alternate;
        -webkit-animation: shadowThrobs 0.9s ease-out infinite;
        -webkit-animation-direction: alternate;     
    }
     @keyframes shadowThrobs {
	        from {box-shadow: 0 0 30px 10px rgba(255,106,0, 0.9);}
	        to {box-shadow: 0 0 30px 10px rgba(255,106,0, 0.2);}
        }
    @-webkit-keyframes shadowThrobs {
	    from {box-shadow: 0 0 30px 10px rgba(255,106,0, 0.9);}
	    to {box-shadow: 0 0 30px 10px rgba(255,106,0, 0.2);}
    }
    .recipeCards .btn {
        margin-bottom: 30px;
    }
}



@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .contents{    
        padding: 20px 20px;
    }
    #cardbodies {
        width:330px;
        height: 100%;
        border: 0.5px solid;   
        margin: 10px 10px 10px 10px;
        border-radius : 30%;
        background-color: white;
    }

    .imges {
        width: 300px;
        height: 250px;
        border-radius: 70%;
    }

    .recipeCards{
        margin: 20px auto;
        text-align:center;   
        border:0;
        padding:0;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
    }


    #cardbodies :hover .imges{
         animation: shadowThrobs 0.9s infinite;
        animation-direction: alternate;
        -webkit-animation: shadowThrobs 0.9s ease-out infinite;
        -webkit-animation-direction: alternate;     
    }
     @keyframes shadowThrobs {
	        from {box-shadow: 0 0 30px 10px rgba(255,106,0, 0.9);}
	        to {box-shadow: 0 0 30px 10px rgba(255,106,0, 0.2);}
        }
    @-webkit-keyframes shadowThrobs {
	    from {box-shadow: 0 0 30px 10px rgba(255,106,0, 0.9);}
	    to {box-shadow: 0 0 30px 10px rgba(255,106,0, 0.2);}
    }
    .recipeCards .btn {
        margin-bottom: 30px;
    }
}
