

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .content{    
        padding: 20px 20px;
    }
    #cardbody {
        width: 370px;
        height: 100%;
        border: 0.5px solid;   
        margin: 10px 10px 10px 10px;
        border-radius : 1%;
        background-color: white;
    }

    .imgs {
        display: block;
        margin: auto;
        width: 330px;
        height: 280px;
        border-radius:20%;
    }

    .recipeCard{
        margin: 20px auto;
        text-align:center;   
        border:0;
        padding:0;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
    }

    .recipeCard .btn {
        margin-bottom: 30px;
    }
}


@media  all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {    
    .content{    
        padding: 20px 20px;
    }
    #cardbody {
        width: 28%;
        height: 100%;
        border: 0.5px solid;   
        margin: 13px 10px 11px 10px;
        border-radius : 1%;
        background-color: white;
    }

    .imgs {
        display: block;
        margin: auto;
        width: 290px;
        height: 280px;
        border-radius:20%;
    }

    .recipeCard{
        margin: 20px auto;
        text-align:center;   
        border:0;
        padding:0;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
    }

    .recipeCard .btn {
        margin-bottom: 30px;
    }
}