@model TechnicalProgrammingProject.Models.UploadsViewModel

<h2>@Model.UploaderName's Uploads</h2>
<hr />

<div>
    <div class="row">
        @foreach (var userRecipe in Model.Recipes)
        {
            @Html.Partial("_RecipeCard", userRecipe);
        }
    </div>
</div>
